# ---- 编译产物（不入库） ----
build/
*.exe
*.obj
*.o
*.pdb
*.ilk
*.exp
*.idb
*.lib
*.out

# ---- 编辑器 / IDE ----
.vs/
.vscode/
.idea/
*.user
*.suo

# ---- 系统 ----
Thumbs.db
Desktop.ini
desktop.ini

# ---- 不提交 ----
AGENTS.md
